[Unit]
Description=Schneider Produce Test Service
After=bb-wl18xx-wlan0.service systemd-rfkill.service

[Service]
User=root
Type=oneshot
WorkingDirectory=/opt/EMSTS
ExecStart=/bin/bash scripts/sch_produce

[Install]
WantedBy=multi-user.target
