[Unit]
Description=Block Device Aging
After=local-fs.target

[Service]
User=root
Type=oneshot
ExecStart=/bin/bash /home/debian/blockdev_aging -i 3 /dev/mmcblk1 /bin/busybox

[Install]
WantedBy=multi-user.target
