[Unit]
Description=Block Device Aging
After=local-fs.target

[Service]
User=root
# Type=oneshot
Type=exec
# ExecStart=/bin/bash /usr/local/bin/blockdev_aging -i 3 /dev/mmcblk1 /bin/busybox
ExecStart=/bin/bash /usr/local/bin/blockdev_aging -i 3

[Install]
WantedBy=multi-user.target
